JEE/PGJAXB/fichier/DonneesClient.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://fr.enstimac.gipsi/gsi/donneesclient" targetNamespace="http://fr.enstimac.gipsi/gsi/donneesclient"
	elementFormDefault="qualified">

	<xsd:element name="InfoClient">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" />
			<xsd:attribute name="montant" type="xsd:int" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ListeDonneesClient">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoClient" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>